body{
    background-color: white;
    margin: auto;
    margin-top: 0px;
}

.cabecalho{

    background-color: white;
    width: 100%;
    height: 80px;
    color: #555555;
    overflow: auto;
    padding: 0;
}

.cabecalho a{
    text-decoration: none;
    color: #555555;
}


.cabecalho h1{
    float: left;
    margin-left: 10px;
}

.cabecalho h1 span{
    color: #4caf50;
}

.cabecalho h2{
    float: right;
    margin-right: 10px;
}

.conteudos {
    margin-left:20%;
    padding:1px 16px;
    height:1000px;
    background-color: white;
    color: black;
    margin-top: 126px;
}

header{
    display:block;
    position:fixed;
    top:0;
    left:0;
    width:100%;
    background:white;
    text-align:center;
    padding: 20px 0;
}

main{
    margin-top:80px;
    color:white;
}


/* Menu Horizontal */
.menuHorizontal ul{
    width: 100%;
    height:50px;
    background-color:#4CAF50 ;
}

.menuHorizontal ul li{
    display: inline-block;
}


.menuHorizontal ul li a {
    display: block;
    text-decoration: none;
    text-align: center;
    color: black;
    padding: 13px 25px;
    transition: background-color 1s;
    font-size: 16px;
}

.menuHorizontal ul li a:hover{
    background-color: #4CAF50;
    color: white;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    visibility:hidden;
    position: absolute;
    background-color: #e0e0e0;
    width: 100%;
    color: white;
    max-height: 0px;
    transition: max-height 1s ease-in;
    overflow: hidden;
    border-radius: 2px;
    z-index: 99;
}

.dropdown:hover .dropdown-content{
    display: block;
    visibility: visible;
    max-height: 200px;
    transition: max-height 1s;
}



/* Menu Vertical */
.menuVertical ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 20%;
    background-color: #f1f1f1;
    position: fixed;
    height: 100%;
    overflow: auto;
    top: 128px;
    border-right: solid 2px #c9c9c9;
}

.menuVertical li a {
    display: block;
    color: #000;
    padding: 8px 0 8px 16px;
    text-decoration: none;
}
.menuVertical li a:hover{
    background-color: #c2c8cb;
    color: white;
}


.menuVertical ul li h2{
    color: black;
    padding: 0px;
}

