body{
    background-color: white;
    margin: auto;
    margin-top: 0px;
}

.cabecalho{

    background-color: white;
    width: 100%;
    height: 80px;
    color: #555555;
    overflow: auto;
    padding: 0;
}

.cabecalho a{
    text-decoration: none;
    color: #555555;
}


.cabecalho h1{
    float: left;
    margin-left: 10px;
}

.cabecalho h1 span{
    color: #4caf50;
}

.cabecalho h2{
    float: right;
    margin-right: 10px;
}

.conteudos {
    margin-left:20%;
    padding:1px 16px;
    height:1000px;
    background-color: white;
    color: black;
    margin-top: 126px;
}

header{
    display:block;
    position:fixed;
    top:0;
    left:0;
    width:100%;
    background:white;
    text-align:center;
    padding: 20px 0;
}

main{
    margin-top:80px;
    color:white;
}


/* Menu Horizontal */
.menuHorizontal ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #4CAF50;
    position: fixed;
    top: 80px;
    width: 100%;
}

.menuHorizontal li {
    float: left;
}

.menuHorizontal li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.menuHorizontal li a:hover:not(.active) {
    background-color: #111;
}

.menuHorizontal .active {
    background-color: #333333;
}


/* Menu Vertical */
.menuVertical ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 20%;
    background-color: #f1f1f1;
    position: fixed;
    height: 100%;
    overflow: auto;
    top: 128px;
    border-right: solid 2px #c9c9c9;
}

.menuVertical li a {
    display: block;
    color: #000;
    padding: 8px 0 8px 16px;
    text-decoration: none;
}

.menuVertical li a.active {
    background-color: black;
    color: white;
}

.menuVertical li a:hover:not(.active) {
    background-color: #555555;
    color: white;
}

.menuVertical ul li h2{
    color: black;
    padding: 0px;
}

dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: blanchedalmond;
    width:160px;


}

.dropdown:hover .dropdown-content{
    display: block;

}
