body{

    background-image: url("../Imagens/gradient_bg.png");
    margin: auto;
    background-repeat:repeat-x;
    background-position: Right top;
    background-attachment: fixed;
}

#cabecalhoPagina{
    margin-bottom: 20px;
    background-color: #f4c984;
    width: 100%;
    height: 100%;
    margin-top: -25px;

}
#cabecalhoPagina h1,#cabecalhoPagina h2{
    color: black;
    text-align: center;
    text-shadow: 1px 0px 0px white;
}
#conteudo{
    width: 720px;
    margin: auto;
}

.sessao{
    background-color: #f1ebd7;
    border-style: dotted solid dotted solid;
    padding-left: 9px;
    padding-right: 9px;
    text-align: justify;
    margin-bottom: 30px;
}

#rodape{
    margin-bottom: 20px;
    background-color: #f4c984;
    width: 100%;
    height: 100%;
}
#rodape p {
    width: 720px;
    margin: auto;
    padding-bottom: 2px;
    text-align: center;
}



/* Menu */
nav{
    width: 720px;
    margin: auto;
    margin-bottom: 20px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a, .dropbtn {
    display: inline-block;
    color: #fbff75;
    text-align: center;
    padding: 15px 15px;
    text-decoration: none;
}

li a:hover, .dropdown:hover .dropbtn {
    background-color: #a6a5c8;
    color: darkblue;
}

li.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #a6a5c8;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: darkblue;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
    display: block;
}





/* Paginas de artigo */
.artigo{
    background-color: #f1ebd7;
    margin-bottom: 30px;
    padding: 20px;
    text-align: center;
    color: #24158c;
    font-family: Arial,Georgia,Calibri;
    font-size: 16px;
    border:4px dotted #333333;


}
.mulherPalito{
    background-color: #f1ebd7;
    border-style:dashed;
    border-color: darkblue;
    margin-bottom:4cm;
    padding: 2cm;
    border-width:4px;
}

.video{
     background-color: #f1ebd7;
     border-style:solid;
     border-color: brown;
     border-width: 4px;
     margin: 1ex;
     padding-bottom:2%;
     text-align: center;
     color: #923c1a;
     font-family: "Times New Roman,",Arial, Georgia;
     font-size: 30px;


 }



article .sessaoArtigo{
    padding-left: 9px;
    padding-right: 9px;
    text-align: justify;


}

#Desenho{
    display: block;
    margin-left: auto;
    margin-right: auto;


}
